/*sidebar*/
:root {
    --primary-color: #121213;
    --primary: rgb(133, 12, 133);
    --text: white;
    --sidebar-gray: #111926;
    --sidebar-gray-light: #D8DCE0;
    --sidebar-gray-background: #373E4A;
    --success: #00C896;
    --secondary: #1D1D1D;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--primary-color);
    width: 18rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.8rem 0.85rem;
    color: var(--text);
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
}

/*clase principal del cual se trabajara ahi dentro PAGINAS ADMINISTRATIVAS*/
main {
  margin-left: 280px; /* Ancho del menú + margen */
  padding: 30px; /* Agrega un espacio entre el menú y el contenido */
  width: calc(100% - 280px); /* Ajusta el ancho del contenido */
}

body.collapsed nav {
  width: 80px;
}


body.collapsed .hide {
  opacity: 0;
  position: absolute;
  display: none;
  pointer-events: none;
  transition: all 0.1s ease-in-out;
}

/*? sidebar top */

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 32px;
}

body.collapsed .sidebar-top {
  display: flex;
  flex-direction: column;
  padding: 0px;
  justify-content: center;
}

.logo__wrapper {
  padding-left: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 54px;
  height: 54px;
}

.expand-btn {
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}


.expand-btn svg {
  stroke: white;
  transform: rotate(180deg);
  width: 42px;
  height: 42px;
}

body.collapsed .expand-btn svg {
  margin-top: 4px;
  transform: rotate(360deg);
  width: 48px;
  height: 48px;
}

/*? menu links */

.sidebar-links ul {
  list-style-type: none;
  position: relative;
}

.sidebar-links li {
  position: relative;
}

.sidebar-links li a {
  margin: 8px 0px;
  padding: 12px;
  color: var(--sidebar-gray-light);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  height: 56px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.sidebar-links li a svg {
  color: var(--sidebar-gray-light);
  height: 32px;
  width: 32px;
}

.sidebar-links li a:hover svg {
  stroke: var(--sidebar-gray-light);
}

.sidebar-links .link {
  margin-left: 30px;
  opacity: 1;
}

.sidebar-links li a:hover, .sidebar-links .active {
  width: 100%;
  text-decoration: none;
  background-color: var(--sidebar-gray-background);
  transition: all 100ms ease-in;
  border-radius: 10px;
  color: var(--sidebar-gray-light);
}

.sidebar-links .active {
  color: white;
}

.sidebar-links .active svg {
  stroke: white;
}

/*? bottom sidebar */

.sidebar-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
}

.divider {
  width: 100%;
  background-color: var(--sidebar-gray-light);
  height: 1px;
  display: block;
}

.sidebar-bottom ul {
  margin: 6px 0px;
}

/*? account part */

.sidebar__profile {
  display: flex;
  align-items: center;
  padding-left: 2px;
  gap: 20px;
  flex-direction: row;
  margin-top: 16px;
}

.avatar__wrapper {
  position: relative;
  display: flex;
}

.avatar {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
}

.avatar:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.avatar__name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-name {
  font-size: 0.95rem;
  font-weight: 700;
  text-align: left;
}

.email {
  font-size: 0.9rem;
}

.online__status {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--success);
  bottom: 3px;
  right: 3px;
}


/*aqui termina el sidebar*/

/*Estilos tablas*/
/* Estilos para la tabla */
.table-personal table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto; /* Centra la tabla horizontalmente */
}

.table-personal th, .table-personal td {
  border: 1px solid #ccc; /* Agrega bordes a las celdas */
  padding: 8px;
  text-align: center; /* Centra el contenido de las celdas */
}

/* Estilos para las filas pares (opcional, para hacer que se vea mejor) */
.table-personal tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}



/*AJUSTAR CONTENIDO DE CONTAINER-PERSONAL: para que se ajuste el formulario agregar con el buscador*/
/*.container-personal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}*/

.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid-template-rows: repeat(auto-fit, 350px);
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.layout .layout-grid8{
  margin-top: 5px;
  width: 650px;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.buscar-result{
  margin-top: 10px;
}

/*Formulario PERSONAL ADMIN*/

.form-agregar {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(243, 210, 251);
}


.text-field input {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--secondary);
  height: 50px;
  letter-spacing: .03rem;
  background-color: transparent;
  outline: none;
  transition: .25s;
  border-radius: 8px;
  text-indent: 20px;
  margin-top: 4px;
}

.text-field label:focus-within  {
  color: var(--primary);
}

.text-field {
  position: relative;
}

.my-form__button {
  background-color: var(--primary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  line-height: 50px;
  outline: none;
  font-size: 18px;
  letter-spacing: .025em;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  min-height: 50px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.15);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}



/* img redimensionar para mostrar*/

.img-producto{
  width: 70px; /* Tamaño deseado en píxeles */
  height: auto; /* Se mantiene la proporción original */
}




/*STYLES PEDIDOS ADMIN*/


.faq-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 1em;
}

details {
	font-size: 1rem;
	margin: 0 auto;
	width: 100%;
	background: #F6FAFF;
	border-radius: 8px;
	position: relative;
	max-width: 900px;
  border: 1px solid #C3DEFF;
  transition: all 0.3s ease-in-out;
}

details:hover {
  border: 1px solid #A4A1FF;
}


summary {
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  list-style: none;
  padding: 1em;
  align-items: center;
}

summary:hover .faq-title {
  opacity: 1;
}

summary::-webkit-details-marker {
  display: none;
}

summary:focus {
  outline: none;
}

summary:hover .expand-icon {
  opacity: 1;
}

.faq-title {
  color: #1C2035;
  width: 90%;
  opacity: 0.65;
  transition: all 250ms ease-in-out;
}

.faq-content {
  color: #303651;
  padding: 0.2em 1em 1em 1em;
  font-weight: 300;
  line-height: 1.5;
}

.expand-icon {
  opacity: 0.65;
}

.expand-icon {
  pointer-events: none;
  position: absolute;
  right: 1em;
  transition: all 150ms ease-out;
}




