/*ESTE CSS STILA LA PAGINA PRINCIPAL EL HEADER NAV Y FOOTER*/
/*================YA NO TOCAR ESTE CSS PARA LAS DEMAS PAGINAS==================================*/
/*--------------SOLO SE USA ESTE STYLE PARA LA PAGINA PRINCIPAL--------------------------------*/
:root {
  --footer-background: #121a29;
  --text-color: #fafbfc;
  --text-gray: #fefefe;
  --text-heading-gray: #f4f5f6;
  --text-primary: #fafbfc;
  --button-color: #404652;
  --button-border: #6b707c;
  --accent: #505fff;
}

html {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Mulish; */
}

.layout {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  /* gap: 8px; */
}

.header {
  grid-area: header;
  background-color: var(--footer-background);
  position: fixed; /* Establece la posición fija */
  top: 0; /* Lo fija en la parte superior de la ventana del navegador */
  width: 100%; /* Establece el ancho completo */
  z-index: 100; /* Asegura que esté por encima de otros elementos */
  /* Agrega otros estilos según tus necesidades */
}
.layout-header {
  width: 100%;

  display: grid;
  grid:
    "logo nav" auto
    / 0.5fr 1fr;
  gap: 8px;
}
.logo {
  grid-area: logo;
}
.logo{
  color: #eca023;
  display: flex;
  align-items: center; /* Centramos verticalmente */
}
.nav {
  grid-area: nav;
}

.nav ul {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    ". nav . ." auto
    / 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
  list-style-type: none;
}
.nav ul li {
  display: flex;
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
}
nav ul li:hover {
  background: #eca023;
}

.nav a {
  color: #145de4;
  text-decoration: none;
}
a:active {
  color: inherit; /* o el color deseado */
  /* También puedes usar 'color: initial;' para volver al color predeterminado del navegador */
  text-decoration: none; /* Para eliminar cualquier subrayado adicional */
}
.main{
  margin-top: 52px;
  width: 100%;
  height: 100%;
}


/*css de MAIN pagina principal*/
.container-main{
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr; */

}
/*DIANA CSS*/

.cuerpo {
  text-align: center;
  font-family: sans-serif;
  background: #000000; /* Cambia los colores según tus preferencias */
  font-size: 100%;
  vertical-align: baseline;
}

.header-diana {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-diana {
  height: 60vh !important;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.192),
      rgba(0, 0, 0, 0.705)
    ),
    url(../img/inka2.webp);
  background-size: cover;
  position: relative; /* Añadir posición relativa para que los elementos secundarios puedan utilizar posicionamiento absoluto */
}
/* background-size: cover;*/

.title-diana {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fffefe;
}

.parrafo {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff8f8;
  padding: 0 100px;
}

.btn-diana {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #b0277b;
  color: #fff;
  text-decoration: none;
  background: #3d082d;
}

.btn-diana:hover {
  background: none;
}
.btn-homeD {
  display: flex;
}

.btn-homeD a {
  margin: 0 10px;
}

.content {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sau {
  padding: 30px;
  background: #000000;
}

.box-containerD {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.box-container .boxDiana {
  height: 17rem;
  width: 17rem;
  background: #5e5b51;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 5rem rgba(167, 19, 180, 0.5);
  margin: 2rem;
}

.box-container .boxDiana i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: #ff3939;
  background: rgb(221, 16, 204);
  font-size: 2rem;
  margin: 1rem 0;
}

.box-container .boxDiana h3 {
  font-size: 20px;
  color: #000000;
}

.box-container .boxDiana p {
  padding: 0 15px;
  font-size: 16px;
}

.about {
  background: linear-gradient(
      to right,
      rgba(12, 11, 12, 0.192),
      rgba(0, 0, 0, 0.705)
    ),
    url(../img/inka3.jpeg);
}

.slider-container {
  width: 50%;

  margin: 20px auto;
  overflow: hidden;
  position: relative;
}

.inpu[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.slider {
  display: flex;
  width: 110%; /* Ajusta según la cantidad de slides */

  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 1;
  min-width: 100%;
  box-sizing: border-box;
  height: 200px; /* Ajusta la altura según tus necesidades */
  background-size: cover;
  background-position: center;
}

#slide1:checked ~ .slider {
  transform: translateX(0%);
}
#slide2:checked ~ .slider {
  transform: translateX(-100%);
}
#slide3:checked ~ .slider {
  transform: translateX(-200%);
}

.price {
  background: url(../img/gaseosas2.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.contacto {
  padding: 20px;
  background: linear-gradient(
    to left,
    rgb(199, 152, 90),
    #38291b
  ); /* Cambia los colores según tus preferencias */

  padding-bottom: 0;
}

@import url("https://fonts.googleapis.com/css2? family= Langosta & family= Open+Sans:ital,wght@0,400;1,700 & family= Roboto:wght@100;400 & display= intercambio");
.pie-pagina {
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to left,
    rgb(199, 90, 193),
    #000000
  ); /* Cambia los colores según tus preferencias */
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 200px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #fff;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #494949;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: #b0a727;
}

.pie-pagina .grupo-2 {
  background-color: #000000;
  padding: 15px 15px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}




/*DIANA END CSS*/


/*ROTATION ANIMATION 2.0*/
/* 
.zeta{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../images/interstellar-1280jpg-8dd6a2_73945_kjrz.1280.webp);
  background-size: cover;
}
.box {
  position: relative;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
      transform: perspective(1000px) rotateY(0deg);  agregar esto para que sea estatico y no crezca ==> rotateY(0deg); 
  }
  100% {
      transform: perspective(1000px) rotateY(360deg);
  }
}
.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)* 45deg)) translatez(400px);
  -webkit-box-reflect: below 0px linear-gradient( transparent, transparent, #0004);
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */



/*footer*/
.footer {
  grid-area: footer;
  position: relative;
  bottom: 0px;
  background-color: var(--footer-background);
  min-width: 300px;
  width: 100%;
  bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*? footer containers */

footer {
  margin-top: 52px;
  width: 100%;  
  height: 100%;
}

.footer-wrapper {
  display: flex;
  background: var(--footer-background);
  flex-direction: column;
  max-width: 100%;
  padding: 16px;
}

/*? top section */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  padding: 16px 0px;
  justify-content: space-between;
}

.footer-line {
  display: block;
  width: 100%;
  height: 8px;
}

/*? footer subscribe */
.footer-subscribe {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.footer-subscribe > input {
  border: 1px solid var(--button-border);
  color: var(--text-color);
  outline: none;
  min-height: 36px;
  background-color: var(--footer-background);
  font-size: 1.2rem;
  flex: 1 0 120px;
  padding: 8px 12px;
  border-radius: 8px;
}

.footer-subscribe > input::placeholder {
  color: var(--text-color);
}

.footer-subscribe > button {
  cursor: pointer;
  background-color: var(--button-color);
  border-radius: 8px;
  color: white;
  font-size: 1.25rem;
  min-width: 120px;
  min-height: 36px;
  flex: 1 0 80px;
  white-space: nowrap;
  padding: 8px 12px;
  border: 0px;
  outline: none;
  border: 1px solid var(--button-border);
}

/*? footer columns */
.footer-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  flex: 2 0 140px;
  width: 100%;
  gap: 16px;
  padding: 24px 8px 16px 8px;
  margin: 0 auto;
}

.footer-columns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-columns ul a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-columns ul a:hover {
  text-decoration: underline;
}

.footer-columns ul li {
  margin-bottom: 16px;
}

.footer-columns h3 {
  color: var(--text-primary);
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.125rem;
}

.footer-centering {
  margin: 0 auto;
}

.footer-columns > section {
  min-width: 150px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 16px;
  color: var(--text-color);
  margin-bottom: 60px;
}

.footer-logo svg {
  stroke: var(--text-color);
  stroke-width: 8px;
  width: 50px;
  height: 50px;
}

/*? Footer bottom */

.footer-bottom {
  text-align: center;
  margin-top: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding: 16px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text-gray);
}

.footer-bottom > small {
  font-size: 16px;
  margin: 0 4px;
}

.footer-headline > h2 {
  margin: 0px;
  color: var(--text-primary);
}

.footer-headline > p {
  color: var(--text-gray);
  margin: 4px 0px 20px 0px;
}

.footer-line {
  display: block;
  min-width: 40px;
  height: 2px;
  background-color: var(--text-gray);
}

/*? socials */

.social-links {
  display: flex;
  gap: 8px;
  align-items: center;
}

.social-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-links img {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.1);
}

.social-links ul {
  display: flex;
  gap: 12px;
  list-style-type: none;
}

/*? mobile */

@media (max-width: 800px) {
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px 8px 32px 8px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
  }
}




